<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hydrus</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png')}}">
</head>
<body>
<div>
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <img src="{{ url_for('static', filename='favicon.png')}}" class="mx-auto d-block img-fluid" alt="Logo">
            </div>
            <div class="col-12">
                <form method="POST" class="search" action="{{ url_for('search', page=1) }}">
                    <div class="input-group d-flex justify-content-center">
                        <input type="text" required name="tags" id="search-input" class="form-control"
                               placeholder="Search tags like 1girl. The separator is a comma">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>

                <ul id="search-results"></ul>
            </div>
        </div>
    </div>
    <script>
    const endpoint = '{{ url_for('predict_tag') }}';

    // Debounce function to limit the number of requests made
    function debounce(fn, delay) {
        let timeoutId;
        return function() {
            clearTimeout(timeoutId);
            timeoutId = setTimeout(() => fn.apply(this, arguments), delay);
        };
    }

    function searchTips(searchValue) {
        const params = new URLSearchParams({
            q: searchValue
        });
        fetch(`${endpoint}?${params}`)
            .then(response => response.json())
            .then(data => {
                // Handle JSON data here
                const searchResults = document.getElementById('search-results');
                searchResults.innerHTML = '';
                data.forEach(result => {
                    const li = document.createElement('li');
                    li.innerText = `${result.value} (${result.count})`;
                    searchResults.appendChild(li);
                });
            })
            .catch(error => {
                console.error(error);
            });
    }

    const debouncedSearchTips = debounce(searchTips, 300);

    document.getElementById("search-input").addEventListener("keydown", function(e) {
        if (e.keyCode !== 13) {
            var value = document.getElementById('search-input').value;
            if (value.length < 3) {
                return false; // keep form
            } else {
                debouncedSearchTips(this.value);
            }

        }
    });
    </script>

</div>

</body>
</html>
