<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png')}}">
</head>
<body>
<div class="container text-center">
    <class class="row">
        <div class="col">
            <h1 class="mt-5">404 Error</h1>
            <p class="lead">Sorry, the page you are looking for cannot be found.</p>
            <a href="{{ url_for('index') }}">Main page</a>
        </div>
    </class>
</div>
</body>
</html>