body {
  margin: 0;
  font-family: sans-serif;
  background-color: #C9CBE0;
}

/* ========== MAIN PAGE ==================== */

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#search-box {
    width: 500px;
    height: 50px;
    font-size: 20px;
}
#search-button {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

/* ========== PAGE WITH RESULTS ============ */

/* Mobile-first styles */
.images {
  display: flex;
  flex-wrap: wrap;
}

.images img {
  width: 100%;
  margin: 3px;
  border: 1px #E8EAFF solid;
}

/* Media query for larger screens */
@media only screen and (min-width: 600px) {
  .cell {
    margin: 30px;
  }

  .images {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    display: grid;
  }

  .images img {
    width: auto;
  }
}

/* ============ VIEW PAGE ============ */
/* Grid container on view page */
.view-page-grid {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-gap: 20px;
}

/* Image cell */
.view-page-grid .media {
  object-fit: cover;
  width: 100%;
}

/* Text cell */
.view-page-grid .text {
  padding: 20px;
}

/* Mobile layout */
@media (max-width: 600px) {
  .view-page-grid {
    grid-template-columns: 1fr;
    grid-template-rows:  1fr;
  }
  .view-page-grid .media {
    grid-row: 1;
  }
  .view-page-grid .text {
    grid-row: 2;
  }
}
